/* Tablets 768px ... will prob do 640px tho*/

/* GENERAL */
a {
    color: #79a9b4;    
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #5e5e5e;
}

body {
    background-color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.35;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    /* font-weight: bold; */
}

h3 {
    font-size: 14px;
}

img {
    width: 140px;
    border: 2px solid #79a9b4;
}

li {
    display: list-item;
    list-style: disc;
}

p, li {
    margin-bottom: 0.9em;
    /* line-height: 1.35; */
    -webkit-margin-after: 0.9em;
}

/* HEADER */
#header {
    /* background-color: lightcoral; */
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    padding: 60px 30px 70px 30px;
    text-align: center;
}

/* NAV BAR */
#menu {
    /* background-color: lightcyan; */
    margin: auto;
    padding-bottom: 65px;
    text-align: center;
}

#menu > .navbar {
    display: inline-block;
}

.navbar > li {
    display: inline;
    font-family: 'Muli', sans-serif;
    line-height: 1.7;
    margin: 0px 15px;
    text-decoration: none;
}

.navbar > li > a {
    color: #262626;
    text-decoration: none;
}

.navbar > li > a:hover {
    color: #5e5e5e;
}

.navbar > li > a.selected {
    color: #79a9b4;
}

@media screen and (max-width: 640px) {
    #menu > .navbar {
        width: 350px;
    }
}

/* MAIN CONTENT */
#main {
    /* background-color: lightgoldenrodyellow; */
    margin: auto;
    padding: 30px;
    width: 900px;
}

@media screen and (max-width: 960px) {
    #main {
        width: calc(100% - 60px);
    }
}

/*** ABOUT PAGE ***/
#profile-pic {
    border-radius: 500px;
    float: left;
    margin-bottom: 150px;
    margin-right: 45px;
}

@media screen and (max-width: 640px) {
    #profile-pic {
        display: block;
        float: none;
        margin: auto;
        margin-bottom: 45px;
    }
}

/*** EXPERIENCE / PROJECTS PAGE ***/
.item-header {
    margin-bottom: 10px;
}
.item > img {
    margin-right: 35px;
}

.item > ul {
    float: right;
}

.item > ul > li:last-child {
    margin-bottom: 0em;
    -webkit-margin-after: 0em;
}

#main > hr {
    clear: right;
    margin: 22px 0px 15px 0px;
}

/*** CONTACT PAGE ***/
#main .contact-header {
    font-size: 20px;
    font-weight: bold;
}


/* FOOTER */
#footer {
    /* background-color: lightgray; */
    clear: both;
    margin: auto;
    padding: 60px 30px;
    width: 900px;
}

#footer > .navbar > li:first-child {
    margin-left: 0px;
}

.fa {
    font-size: 28px;
}

#copyright {
    float: right;
    position: relative;
    top: -24px;
}

@media screen and (max-width: 945px) {
    #footer {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 500px) {
    #footer {
        text-align: center;
    }
    #footer > .navbar {
        margin-bottom: 40px;
    }
    #copyright {
        float: none;
    }
}
