/* BASE
============================================================================ */
@import url(https://fonts.googleapis.com/css?family=Passion+One);
/* font-family: 'Passion One', cursive; */
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* font-family: 'Roboto', sans-serif; */
html {
    overflow-y: scroll;
}

body {
    font-weight: 500;
    color: #0e3638;
    background-color: #1B676B;
    word-wrap: break-word;
    font-size: 16px;
}


/* HEADER
============================================================================ */
#header {
    margin-bottom: 90px;
    font-size: 120px;
    color: #EAFDE6;
}

#logo {
    font-family: 'Passion One', monospace;
}



#logo span {
    display: inline-block;
}


/* SIDEBAR
============================================================================ */
#sidebar .button {
    margin: 20px 20px 20px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    width: 200px;
    padding: 20px 15px 20px 15px;
    border-radius: 7px;
}

.button.custom-btn {
    background-color: #488540;
    color: #EAFDE6;
}

.button.custom-btn:hover, 
.button.custom-btn:focus {
    background-color: #3d7136;
    color: #EAFDE6;
}

#side-icons {
    width: 200px;
    margin: 0px 0px 20px 20px;
}

.fa {
    color: #EAFDE6;
    font-size: 40px;
    margin: 0px 10px 0px 10px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.fa:hover, 
.fa:focus {
    color: #baf8ae;
}


/* CONTENT
============================================================================ */
.content {
    padding: 50px 40px 40px 50px;
    margin: 0px 20px 0px 20px;
    border-radius: 7px;    
    background-color: #EAFDE6;
}

.content_header {
    font-style: oblique;
    font-weight: bold;
    font-size: 55px;
    padding-bottom: 30px;
}

#home-sequence {
    color: #EAFDE6;
    font-weight: 800;
    font-size: 50px;
}

#profile-pic {
    border-style: solid;
    border-color: #488540;
    border-width: 10px;
    border-radius: 500px;
    width: 320px;
}

#about-pic {
    
    border-style: solid;
    border-color: #0e3638;
    border-width: 10px;
    border-radius: 500px;
    width: 320px;
}

.project_title {
    font-weight: bold;
    font-size: 40px;
}

.project_language {
    position: relative;
    bottom: 13px;
    font-weight: 400;
    font-size: 22px;
}

.project_date {
    position: relative;
    font-weight: 200;
    bottom: 20px;
    font-size: 14px;
}

.project_img {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #383838;
    border-width: 4px;
}


/* FOOTER
============================================================================ */
#footer {
    margin-top: 100px;
}


/* ANIMATIONS
============================================================================ */

/* logo */
.kk { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
.ke { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
.kv { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
.ka { animation-delay:1s; -moz-animation-delay:1s; -webkit-animation-delay:1s; }
.kn { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }

.nn1 { animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }
.ny { animation-delay:0.9s; -moz-animation-delay:0.9s; -webkit-animation-delay:0.9s; }
.nu { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
.ng { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
.ne { animation-delay:0.5s; -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }
.nn2 { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }

/* sidebar */
#side-home { animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }
#side-about { animation-delay:1.6s; -moz-animation-delay:1.6s; -webkit-animation-delay:1.6s; }
#side-projects { animation-delay:1.8s; -moz-animation-delay:1.8s; -webkit-animation-delay:1.8s; }
#side-contact { animation-delay:1.3s; -moz-animation-delay:1.3s; -webkit-animation-delay:1.3s; }
#side-resume { animation-delay:1.7s; -moz-animation-delay:1.7s; -webkit-animation-delay:1.7s; }
#side-icons { animation-delay:1.9s; -moz-animation-delay:1.9s; -webkit-animation-delay:1.9s; }